<header class='header'>
  <h1>User info</h1>
  <h2>At this page you can find: user names, age and bio.</h2>
</header>
<main class='main'>
<button class='button'><%= link_to 'Back', :back %></button>
  <h1>Name:<%= @user.name %></h1>
  <p>Age:<%= @user.age %></p>
  <p>Bio:<%= @user.biograph %></p>
</main>
