// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  padding: 30;
  background-color: rgb(145, 165, 145);
  font-family: 'Roboto Mono';
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: rgb(183, 197, 161);
}

.main {
  padding-top: 150px;
  padding-left: 20px;
}

.users {
  border-collapse: collapse;
  padding: 10px;
  display: flex;
}

.users td, .users th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  padding-left: 200px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
  color: black;
}
