<!DOCTYPE html>
<html>
  <head>
    <title>MyProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <body>
    <header>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/users/new">Create a new user</a></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
